# Copyright 2019 Amazon.com
# SPDX-License-Identifier: Apache-2.0

sources:
  c:/winsrv/: put-your-presigned-url-here
commands:
  install-testwinservice:
    command: C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\installutil WindowsService1.exe
    cwd: c:/winsrv
    waitAfterCompletion: 0
services:
  windows:
    "SSTestService":
      enabled: true
      ensureRunning: true
      commands: install-testwinservice
